<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: header}"></head>
<body>
	<div th:insert="~{home :: nav}"></div>
	<div class="container-fluid">
		<h2>New OFS</h2>
		<form id="rfoForm" th:object="${rfoForm}" th:action="@{/rfo/edit/} + ${rfoForm.id}"
			method="post">
			<div class="form-group col-md-6">
				<label class="">RFO Id</label> <input type="text"
					class="form-control" th:field="*{id}" />
			</div>
			<div class="form-group col-md-6">
				<label class="">Date</label> <input type="text"
					class="form-control" th:field="*{dateCreated}" />
			</div>
			<div class="form-group col-md-6">
				<label class="">OFS Id</label> <input type="text"
					class="form-control" th:field="*{ofsId}" />
			</div>
			<div class="form-group col-md-6">
				<label class="">Supplier Id</label> <input type="text"
					class="form-control" th:field="*{supplierId}" />
			</div>
			<div class="form-group col-md-6">
				<label class="">Supplier Name</label> <input type="text"
					class="form-control" th:field="*{supplierName}" />
			</div>
			<div class="form-group col-md-4">
				<label class="">Employee Id</label> <input type="number"
					class="form-control" th:field="*{employeeId}" />
			</div>

			<!-- 
			<div class="form-group col-12">
				<button type="submit" name="addItem" class="btn btn-default">Add
					Item</button>
				<br />
				<table class="table table-ofs">
					<thead>
						<tr>
							<th>ID</th>
							<th>OFS ID</th>
							<th>PRODUCT NAME</th>
							<th>PRODUCT ID</th>
							<th>QUANTITY</th>
							<th>ORDER DATE</th>
							<th>DELIVERY TIME</th>
							<th>REMOVE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item, itemStat : *{ofsItemsForms}">
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].id}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].ofsId}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].productName}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].productId}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].quantity}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].orderDate}" /></td>
							<td><input type="text"
								th:field="*{ofsItemsForms[__${itemStat.index}__].deliveryTime}" /></td>
							<td>
								<button type="submit" name="removeItem"
									th:value="${itemStat.index}">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>  -->

			<div class="form-group">
				<div class="">
					<button type="submit" name="saveEdit" class="btn btn-success">Save</button>
					<a th:href="@{/rfo/list}" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="~{home :: scripts}"></div>
	<footer th:replace="~{home :: footer}"></footer>
</body>
</html>