<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: header}"></head>
<body>
	<div th:insert="~{home :: nav}"></div>
	<div class="container">
		
		
		<div th:fragment="scripts">
			<script type="text/javascript"
				src="/webjars/jquery/3.0.0/jquery.min.js"></script>
			<script type="text/javascript"
				src="/webjars/popper.js/1.11.1/dist/popper.min.js"></script>
			<script type="text/javascript"
				src="/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript"
				th:src="@{/js/scripts.js}"></script>
		</div>
	</div>
	<div th:replace="~{home :: scripts}"></div>
	<footer th:replace="~{home :: footer}"></footer>
</body>
</html>