<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: header}"></head>
<body>
	<div th:insert="~{home :: nav}"></div>
	<div class="container">
		
		<a class="btn btn-primary mb-4" href="/zzp" role="button">Nazad</a>		
		
		<form th:object="${zzp}">
				<div class="form-row">
					<div class="form-group col-sm-6">
						<h3>Zahtev za Ponudu</h3>
					</div>
				</div>
				
				<div class="form-row">
					<div class="col">
						<label for="sifra_zzp" class="">Sifra ZZP: </label>
						<input type="number" class="form-control" id="sifraZZP" name="sifraZZP" th:field="*{sifraZZP}" readonly>
					</div>
					
					<div class="col">
						<label for="zzp_sifraDob" class="">Sifra Dobavljaca: </label>
						<input type="number" class="form-control" id="sifraDob" th:field="*{sifraDob}" readonly>
					</div>
					
					<div class="col">
						<label for="zzp_imeDob" class="">Ime Dobavljaca: </label>
						<input type="text" class="form-control" id="imeDob" th:field="*{imeDob}" readonly>
					</div>
					
				</div>
				<div class="form-row">
					<div class="col">
						<label for="datum_zzp" class="">Datum: </label>
						<input type="date" class="form-control" id="datumZZP" name="datumZZP" th:field="*{datum}" readonly>
					</div>
					<div class="col">
						<label for="datum_zzp" class="">Vrednost: </label>
						<input type="number" class="form-control" id="vrednostZZP" name="vrednostZZP" th:field="*{vrednostZZP}" readonly>	
					</div>
					
					<div class="col">
						<label for="valutaZZP" class="">Valuta: </label>
						<input type="text" class="form-control" id="valutaZZp" th:field="*{valuta}" readonly>
					</div>
				</div>
		</form>
		
		<br>
		
		<h3>Stavke</h3>
		
		<table class="table table-striped">
				<tr>
					<th>Sifra ZZP</th>
					<th>Redni Broj</th>
					<th>Status</th>
					<th>Sifra Proizvoda</th>
					<th>Opis Proizvoda</th>
					<th>Kolicina</th>
					<th>Cena</th>
					<th>Cena za Kom</th>
					<th>Vrednost</th>
					<th>Valuta</th>
				</tr>
				<tr th:each="st : ${stavke}">
					<td th:text="${st.sifraZZP}"></td>
					<td th:text="${st.redniBr}"></td>
					<td th:text="${st.status}"></td>
					<td th:text="${st.sifraPr}"></td>
					<td th:text="${st.opisPr}"></td>
					<td th:text="${st.kolicina}"></td>
					<td th:text="${st.cena}"></td>
					<td th:text="${st.cenaZaKom}"></td>
					<td th:text="${st.vrednost}"></td>
					<td th:text="${st.valutaId}"></td>
				</tr>
			</table>
	</div>
	<div th:replace="~{home :: scripts}"></div>
	<footer th:replace="~{home :: footer}"></footer>
</body>
</html>