<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: header}"></head>
<body>
	<div th:insert="~{home :: nav}"></div>
	<div class="container">
		
		<div>
			<h2>Lista ZZP</h2>
			<a class="btn btn-success mb-2" href="/zzp/noviZZP" role="button">Novi ZZP</a>
			<table class="table table-striped">
				<tr>
					<th>Sifra ZPP</th>
					<th>Datum</th>
					<th>Sifra Dobavljaca</th>
					<th>Ime Dobavljaca</th>
					<th>vrednostZZP</th>
				</tr>
				<tr th:each="zzp : ${listaZZP}">
					<td th:text="${zzp.sifraZZP}"></td>
					<td th:text="${zzp.datum}"></td>
					<td th:text="${zzp.sifraDob}"></td>
					<td th:text="${zzp.imeDob}"></td>
					<td th:text="${zzp.vrednostZZP}"></td>
					<td><a th:href="${'/zzp/pronadjiZZP/' + zzp.sifraZZP}">Detalji</a></td>
					<td><a th:href="${'/zzp/izmeniZZP/' + zzp.sifraZZP}">Izmeni</a></td>
					<td><a th:href="${'/zzp/izbrisiZZP/' + zzp.sifraZZP}">Izbrisi</a></td>
				</tr>
			</table>
		</div>
		
		
		<div th:fragment="scripts">
			<script type="text/javascript"
				src="/webjars/jquery/3.0.0/jquery.min.js"></script>
			<script type="text/javascript"
				src="/webjars/popper.js/1.11.1/dist/popper.min.js"></script>
			<script type="text/javascript"
				src="/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript"
				th:src="@{/js/scripts.js}"></script>
		</div>
	</div>
	<div th:replace="~{home :: scripts}"></div>
	<footer th:replace="~{home :: footer}"></footer>
</body>
</html>