<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: header}"></head>
<body>
	<div th:insert="~{home :: nav}"></div>
	<div class="container">
		<div>
			<h2>Employees</h2>
			<a class="btn btn-success mb-2" href="/employee/new" role="button">New</a>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>DEPARTMENT</th>
					<th>EDIT</th>
					<th>DELETE</th>
				</tr>
				<tr th:each="employee : ${employees}" class="clickable-row" role="button" th:data-href="${'/employee/show/' + employee.id}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.first_name}"></td>
					<td th:text="${employee.last_name}"></td>
					<td th:text="${employee.department_id}"></td>
					<td><a th:href="${'/employee/edit/' + employee.id}">Edit</a></td>
					<td><a th:href="${'/employee/delete/' + employee.id}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="~{home :: scripts}"></div>
	<footer th:replace="~{home :: footer}"></footer>
</body>
</html>